.hero-section {
  background: linear-gradient(
  135deg,
  #0f172a,
  #1e3a8a,
  #312e81
);

  color: white;
  padding: 100px 20px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.hero-title {
  font-size: 60px;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 22px;
  opacity: 0.8;
}

.product-card {
  border-radius: 20px;
  border: none;
  overflow: hidden;
  background: white;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.footer {
  background: #0f172a;
  color: white;
  padding: 30px;
  margin-top: 50px;
}
.product-card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.product-card {
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
}

body {
  background: #f8fafc;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}