.hero-section {
  background: linear-gradient(
    135deg,
    #0f172a,
    #1e293b
  );

  color: white;
  padding: 100px 20px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.hero-title {
  font-size: 60px;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 22px;
  opacity: 0.8;
}

.product-card {
  transition: 0.3s;
  border-radius: 15px;
}

.product-card:hover {
  transform: translateY(-8px);
}

.footer {
  background: #0f172a;
  color: white;
  padding: 30px;
  margin-top: 50px;
}
.product-card img {
  height: 250px;
  object-fit: cover;
}

.product-card {
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
}